/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public/css
/public/js
data/redis/appendonly.aof
data/redis/dump.rdb
data/.DS_Store
